$bleu: #0f056b;
$vert:#8ac42f;
$titre:#0F056B;
$bouton:#0F056B;
$bordure_bouton:#0F056B;
$barre:#0F056B;
$hover_bouton:#8ac42f;
$couleur_hover:#8ac42f;
$couleur_bordures:#EBEBEB;
$couleur_lien:#8ac42f;